@import "tailwindcss";
@import url('general-sans.css');

@theme {
    --font-fallback: 'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --font-primary: 'GeneralSans';

    /* Web Colors */
    --color-theme-pearl-bush: #E0E1DD;
    --color-theme-pearl-blue: #778DA9;
    --color-theme-dusk: #415A77;
    --color-theme-dark: #1B263B;
    --color-theme-mirage: #0D1B2A;
}

@layer base {
    /* Disable overscroll behavior */
    html,
    body {
        overscroll-behavior: none;
        overscroll-behavior-y: none;
    }
}


@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(Arial);
  size-adjust: 112%;
  ascent-override: 74%;
  descent-override: normal;
  line-gap-override: normal;
}

html {
    font-family: 'GeneralSans', var(--font-fallback);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@utility mask-fade-bottom {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}