---
interface Props  {
    title: string;
    text: string;
    url: string;
    image: {
        src: string;
        alt: string;
    }
}

const { title, text, url, image } = Astro.props
---

<a href={url} class="hover:scale-105 transition relative inline-block w-[400px] h-auto">
    <div class="absolute inset-0 flex flex-col justify-center items-center z-10">
        <div class="bg-[color:var(--color-theme-pearl-bush)] text-center shadow-personalized space-y-2 py-4 px-4 mx-12 rounded-lg">
            <p class="font-bold text-lg">
                { title }
            </p>
            <p class="text-sm">
                { text }
            </p> 
        </div>
    </div>
    <div class="bg-[color:var(--color-theme-mirage)] rounded-lg shadow-personalized">
        <img src={ image.src } alt={ image.alt } class="opacity-50 z-0 rounded-lg">
    </div>
</a>