---
---
<footer class="flex justify-center items-center bg-[color:var(--color-theme-pearl-bush)] shadow-personalized">
    <div class="py-8">
        <p class="font-bold text-xl">Pau Segués Vitutia Web</p>
    </div>
</footer>