---
import Social from "./social.astro"
---
<footer class="flex flex-col justify-center items-center bg-[color:var(--color-theme-dusk)] text-[color:var(--color-theme-pearl-bush)] shadow-personalized py-4">
    <div class="mb-3 mt-2">
        <p class="text-xl">Pau Segués Vitutia</p>
    </div>
    <Social/>
</footer>