---
import { SOCIAL } from '@/consts/social'
---
<header class="bg-[color:var(--color-theme-dusk)] text-[color:var(--color-theme-pearl-bush)] shadow-personalized flex justify-between">
    <nav class="flex flex-row justify-start space-x-4 pl-12">
        <a class="hover:scale-125 transition duration-500 py-4 px-6 text-lg" href="#about">
            About Me
        </a>
        <a class="hover:scale-125 transition duration-500 py-4 px-6 text-lg" href="#projects">
            Projects
        </a>
        <a class="hover:scale-125 transition duration-500 py-4 px-6 text-lg" href="contact">
            Contact
        </a>
    </nav>
    <nav class="flex flex-row justify-end items-center space-x-4 pr-12">
        {
            SOCIAL.map(({url, image}) => 
                <a href={url} target="_blank" class="hover:scale-125 transition duration-500">
                    <image.logo/>
                </a>
            )
        }
    </nav>
</header>