---
---
<header class="bg-[color:var(--color-theme-pearl-bush)] pl-12 py-4">
    <ul class="flex flex-row justify-start space-x-4 transition">
        <li>
            <a href="#about">
                About me
            </a>
        </li>
        <li>
            <a href="#projects">
                Projects
            </a>
        </li>
        <li>
            <a href="#contact">
                Contact
            </a>
        </li>
    </ul>
</header>