---
import { SOCIAL } from "@/consts/social"
---
<section class="flex flex-col justify-center items-center">
    <div class="flex flex-row items-center space-x-2">
        {
            SOCIAL.map(({url, image}) => 
                <a href={url} target="_blank" class="hover:scale-125 transition duration-500">
                    <image.logo/>
                </a>
            )
        }
    </div>
</section>