---
import { SOCIAL } from "@/consts/social"
---
<section class="flex flex-row items-center justify-center">
    {
        SOCIAL.map(({url, image}) => 
            <a href={url}>
                <image.logo />
            </a>
        )
    }
</section>