---
interface Props  {
	title: string;
}

const { title } = Astro.props ;

import Footer from "@/sections/footer.astro"
import Header from "@/sections/header.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		background: #778DA9;
		background-repeat: no-repeat;
		color: var(--color-theme-mirage);
		display: flex;
		flex-direction: column;
	}
</style>